/*Thanks to all the people whose work was used (with debatable consent) to power Mistral-7B and Llama2-70B*/
.container {
    position: relative;
    height: 100vh;
    overflow: auto;
}

.background {
    position: absolute;
    bottom: 0em;
    left: 0em;
    width: 1000%;
    height: auto;

    background-image: url("./images/backgrounds/Space/Space\ BG.png");
    background-attachment: fixed;
    /*Parallax*/
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.planets {
    position: relative;
    display: flex;
    gap: 20%;
}

#freaze {
    width: 1000px;
    height: auto;
}

#freaze {
    width: 9800px;
    height: auto;
}